@model IEnumerable<Entities.Entities.Produto>

@{
    ViewData["Title"] = "ListaProdutosCar";
}

<h1>Lista de Produtos do Carrinho</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Url))
                    {
                        <img src="@item.Url" width="80" height="80" alt="" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdCompra)
                </td>
                <td>
                    @Html.ActionLink("Remover", "DeleteProdutoCar", new { id = item.IdProdutoCar })
                </td>
            </tr>
        }
    </tbody>
</table>
